<nav>
  <a id="home" href="{{ site.baseurl }}/index.html">
    {% if page.url == '/'%}[{% endif %}ESSAYER{% if page.url == '/'%}]{% endif %}
  </a>
  <span style="float: right;">
    {% for item in site.data.navigation %}
      <a class="nav-item" href="{{ item.rel_path | prepend: site.baseurl }}">
        {% if page.url == item.rel_path %}[{% endif %} {{ item.name }} {% if page.url == item.rel_path %}]{% endif %}
      </a>
    {% endfor %}
    <a onclick="toggleDarkMode()" href="#">◒</a>
  </span>
</nav>
