body {
  font-family: "DM Mono", monospace;
  font-size: 11px;
}

code {
  font-family: "DM Mono", monospace;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

code::before {
  content: " ";
  white-space: pre;
}
code::after {
  content: " ";
  white-space: pre;
}

nav a {
  text-decoration: none;
  text-transform: lowercase;
}

#nav-item {
  margin-left: 1em;
}

.main {
  max-width: 80ch;
  margin: auto;
}

a {
  color: black;
}

:target, :target a {
  color: #AA0000;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode-text {
  color: white;
}

.essai {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.56em;
}

.essai blockquote {
  font-size: 0.9em;
  margin-top: 2em;
  margin-bottom: 2em;
}

a#title {
  text-transform: lowercase;
  text-decoration: none;
  font-family: 'Cormorant Unicase';
}

.footnotes {
  margin-top: 5em;
  font-size: 0.7em;
  line-height: initial;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.5em;
}

sup {
  top: -1em;
}

sub {
  top: 1em;
}

#home {
  text-align: left;
  font-weight: bold;
  letter-spacing: 1ch;
  text-transform: uppercase;
}

.main-text p {
  text-indent: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.6em;
}

.main-text p:first-child {
  text-indent: initial;
}

.main-text>p:first-child, .main-text>div>p:first-child {
  margin-top: 3em;
}

.section-break {
  text-align: center;
  font-style: italic;
  margin: 1em 0;
}

.image > img {
  width: 100%;
}
.image > figcaption {
  font-family: 'Cormorant Upright';
  font-size: 0.7em;
}

/* font styles */
.sc {
  font-family: 'Cormorant SC';
}

.uc {
  font-family: 'Cormorant Unicase'
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Unicase";
  text-transform: lowercase;
  font-weight: normal;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

h2 {
  font-family: "Cormorant SC";
  font-size: 1em;
}

h3 {
  font-family: "Cormorant SC";
  font-size: 0.8em;
}

h4 { font-size: 0.6em; }
h5 { font-size: 0.4em; }
h6 { font-size: 0.2em; }

h2.bibliography {
  margin-top: 2em;
}

ol.bibliography > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol {
  padding-inline-start: 0em;
}

.sup-mat {
  font-family: "Byom Icons";
  font-size: 0.8em;
}

#author {
   border-top: 1px solid black;
   padding: 0.2em;
}

#author.dark-author {
  border-top: 1px solid white;
}