<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    {% feed_meta %}
    {% seo %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="main" style="margin-bottom: 10em;">
      <div style="height: 1em;"></div>
      {% include navigation.html %}
      <div style="height: 5em;"></div>
      {{ content }}
    </div>
    <script type="text/javascript">
      const text_tags = ["a", "input", "textarea"];
      function darkMode(state) {
        document.body.classList.toggle("dark-mode", state);
        text_tags.forEach(
          tag => Array.from(document.getElementsByTagName(tag))
                      .map(e => e.classList.toggle("dark-mode-text", state)));
        var submit = document.querySelector("input[type=submit]");
        submit ? submit.classList.toggle("dark-submit", state) : null;
        localStorage.dark = state.toString();
      }
      function toggleDarkMode() {
        localStorage.dark == "true" ? darkMode(false) : darkMode(true);
      }
      localStorage.dark == "true" ? darkMode(true) : darkMode(false);
    </script>
  </body>
</html>

