---
layout: default
---

<div class="essai">
  <p class="title"><a id="title">
    {% assign title = page.title | split: "" %}
    {% for t in title %}
        <span>{{ t }}</span>
    {% endfor %}
</a></p>
  <div class="main-text">
    {{ content }}
  </div>
</div>

<script type="text/javascript">
  var url = window.location.href.split("/");
  var year = url[url.length - 4];
  var month = url[url.length - 3];
  var date = url[url.length - 2];
  var filename = url[url.length - 1].split(".")[0];
  var blameMaster = (
    "https://github.com/constellationcolon/essayer/blame/master/_posts/"
    + year + "-" + month + "-" + date + "-" + filename + ".md"
  );
  var title = document.getElementById("title");
  title.href = blameMaster;
</script>